
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
    <form class="form-inline" (ngSubmit)="search($event)" >
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
      <input class="form-control mr-sm-2" type="search" placeholder="enter a specific criteria" aria-label="Search" [(ngModel)]="criteria" name="first" id="1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  </nav>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-climbing-dot">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>



  <div class="container">
    <div class="row">
    <span *ngFor="let job of jobs; let i = index;">

      <div *ngIf="i<10">


        <div class="col-md">
          <div class="jobbox" >


              <img src={{job.company_logo}} alt="job.company">
              <ng-flash-message></ng-flash-message>

          <h5 class="companytitle"> company name: <span>{{job.company}}</span> </h5>
          <p></p>
          <P class="jobtitle"> job title:<span> {{job.title.substring(0,45)}}..... </span> </P>
<button class="seemorebutton" (click)="seemore(job.id)">click to see more info </button>

          <p></p>
          <div *ngIf="loggedin=='true'">
          <button class="seemorebutton2" (click)="addseelater(job.id,job.company_logo,job.company,job.title)">add to see later list</button>
        </div>
          <p></p>
            </div>

        </div>
        </div>
<p></p>
<p></p>





    </span>
  </div>
</div>



<div class="container">
<div class="wrapper">

<div *ngFor="let p of pgs; let i = index; " >

      <div *ngIf="i>1">

              <a dispaly=inline href="/home/{{i}}/{{pg}}/{{criteria}}"  class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true">{{i}}</a>


</div>

</div>
</div>
</div>

